{% extends 'page.html' %}

{% block content %}
    <h1>About</h1>
    <hr>
    <p>
        Welcome to Flask Blog. This is a website created by Shaunak Warty using Python and the Flask module.
        This website is modeled off of <a href="https://www.youtube.com/watch?v=MwZwr5Tvyxo&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH">Corey Schafer's Flask tutorial</a>, available on Youtube.
        You can see this website's code <a href="https://github.com/hyperXcube/flask-blog">here</a>.
        We hope you like this website, and if you have any comments or improvements to my website, you can email Shaunak at shaunak.warty@gmail.com.
    </p>
{% endblock %}